<div class="content-w">
  <h1 class="mat-display-2">Über Uns</h1>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div class="image">
      <app-blox [blocks]="blocks"></app-blox>
      <div class="bg-image"></div>
     </div>
    <div class="text" fxFlex>
      <div class="mat-display-1">
        Gertraud Obermayr-Bühler
      </div>
      <div class="mat-body-2">
        Fachfrau Kinderbetreuung
      </div>
      <span class="mat-body-1">
        Zu meinen Stärken zählen meine Vielseitigkeit und mein „Draht“ zu Kindern. 
        Meine fröhliche Ausstrahlung überträgt sich auf die Kinder.   
        Durch die kleine Gruppe profitieren die Kinder in vieler Hinsicht. 
      </span>
    </div>
  </div>
</div>
