<footer>
  <div class="content-w">
    <div class="content" fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex>
        <div class="mat-body-2">KiTa Purzelbaum</div>
        <div>Landstrasse 105, 9490 Vaduz</div>
        <div>+423 79 374 12</div>
        <a href="mailto:gertraud@kita-purzelbaum.li">gertraud@kita-purzelbaum.li</a>
      </div>
      <img src="/assets/kitapurzelbaum.svg" height="84" alt="">
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <a href="https://cbuehler.li">&copy; 2021 cbuehler.li</a>
    </div>
  </div>
</footer>