<div class="content-w" fxLayout="column" fxLayoutAlign="center center">
  <div class="text" fxFLex>
    <div class="title">
      <h1 class="mat-display-3">KiTa Purzelbaum</h1>
    </div>
    <div>
      <p class="mat-display-1">Die familiäre Kindertagesstätte mit individueller Betreuung an der Landstrasse in Vaduz.</p>
    </div>
    <a href="#angebot" class="down-scroll" mat-icon-button>
      <mat-icon>arrow_downward</mat-icon>
    </a>
  </div>
</div>
<div class="canvas">
  <canvas id="canvas"></canvas>
</div>