:host {
  display: block;
  padding: 128px 0;
  position: relative;
  box-sizing: border-box;
  background: rgb(241, 245, 240);

  @media all and (max-width: 959px) {
    padding: 32px 0;
  }

  .mat-display-1 {
    margin: 0;
    font-weight: 500;
  }

  .mat-display-3 {
    margin: 0 0 16px;
    letter-spacing: 1.4px;
    font-weight: 700;
  }

  .canvas {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: table-cell;
    overflow: hidden;

    canvas {
      display: block;
      margin: 0 auto;
      width: 100%;
      z-index: 0;
      min-width: 800px;
      opacity: .3;
    }
  }

  .content-w {
    position: relative;
    z-index: 1;

    .down-scroll {
      margin-top: 16px;

      mat-icon {
        animation: MoveUpDown 1.5s linear infinite;
        font-size: 32px;
        width: 40px;
        height: 40px;

        @keyframes MoveUpDown {
          0%, 100% {
            transform: translateY(6px);
          }
          50% {
            transform: translateY(10px);
          }
        }
      }
    }

    &.narrow {
      .text {
        text-align: center;
      }
    }
  }
}