:host {
  display: block;
  padding: 64px 0;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    @media all and (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }

  span {
    display: block;
  }

  app-btn {
    margin-top: 16px;
  }
}