<div class="content-w">
  <h1 class="mat-display-2">Kontakt</h1>
  <div class="grid">
    <div>
      <span class="mat-body-2">Gertraud Obermayr-Bühler</span>
      
      Für Anfragen und Allgemeines sind wir zu unseren Öffnungszeiten telefonisch für Sie erreichbar.
  
      <div>
        <app-btn link="tel:+423 793 74 12" icon="phone" text="+423 793 74 12"></app-btn>
      </div>
      <div>
        <app-btn link="mailto:gertraud@kita-purzelbaum.li" icon="mail" text="gertraud@kita-purzelbaum.li"></app-btn>
      </div>

      <h1 class="mat-body-1">
      </h1>
    </div>
    <div>
      <span class="mat-body-2">KiTa Purzelbaum</span>
      <span class="mat-body-1">Landstrasse 105</span>
      <span class="mat-body-1">9490 Vaduz</span>
      <app-btn link="https://goo.gl/maps/6jJAqJSUEXzEdqeb9" icon="location_on" target="_blank" text="Karte öffnen"></app-btn>
    </div>
  </div>
</div>
