<div class="content-w" fxLayout="row" fxLayoutAlign="center center">
  <div class="mat-body-2" fxFlex>Neueröffnung im September 2021</div>
  <!-- <div class="mat-body-2">Bald ist es soweit, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ducimus, quisquam ipsa omnis error qui eaque, porro totam ut illo at atque, commodi doloribus sed expedita eius. Maiores, aut dolor.</div> -->
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-stroked-button>
      Anmelden über das Elternportal
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>