<div class="content-w" fxLayout="column" fxLayout.lt-md="column">
  <h1 class="mat-display-2">Anmeldung</h1>
  <div class="grid">
    <div class="mat-body-1">
      <app-blox [config]="config"></app-blox>
    </div>
    <div>
      Die Anmeldung bei der KiTa Purzelbaum erfolgt über das <a target="_blank" href="https://kibe.cse.ch/asp_prod/PORTAL/LIE/Login.do;jsessionid=65549BCE5764EC438C1FF77686D22F75?&method=editUserData&loginPhase=loginPhaseCreateUser">Elternportal</a>. Wir bitten Sie, im Vorhinein per E-Mail, Telefon oder WhatsApp mit uns Kontakt aufzunehmen, damit wir einen Platz für Ihr Kind garantieren können.
    </div>
  </div>
</div>
